@use "../elements/shadows" as *;

.home-page,
.my-surveys,
.survey-card,
.card-header,
.search-surveys-label,
.dropdown-wrapper,
.dropdown-item {
  display: flex;
}

.surveys {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(calc(300px - 2rem), 1fr));
  gap: calc(var(--gap) * 0.75);
}

.home-page {
  --gap: 2rem;
  flex-direction: column;
  gap: var(--gap);

  .my-surveys-header {
    display: grid;
    grid-template: auto/1fr 1fr;
    gap: calc(var(--gap) * 0.25);

    & > h2,
    .search-surveys-label {
      grid-column: span 2;
    }

    & > h2 {
      font-size: clamp(20px, calc(3vw + 0.5rem), 30px);
      margin-bottom: 1rem;
    }
  }

  .filters-container {
    position: relative;

    .filter {
      width: 100%;
    }
    .dropdown-wrapper {
      width: max-content;
      min-width: 100%;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid var(--grey-200);
      background-color: var(--white);
      overflow: hidden;
      position: absolute;
      top: calc(100% + 4px);
      right: 0;
      @include shadow("md");

      .dropdown-item {
        gap: 1rem;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        &:not(:last-child) {
          border-bottom: 1px solid var(--grey-200);
        }
        & > div {
          border: none;
          background: none;
        }

        .option {
          display: flex;
          gap: 8px;
        }
        &:hover {
          background-color: var(--grey-100);
        }
      }
    }
  }

  .my-surveys {
    .survey-card {
      flex-direction: column;
      gap: calc(var(--gap) * 0.25);
      padding: calc(var(--gap) * 0.5);
      background-color: var(--white);
      border-radius: 8px;
      border: 1px solid var(--grey-200);
      text-decoration: none;

      .card-header {
        justify-content: space-between;
        color: var(--grey-700);

        &.private {
          display: grid;
          grid-template-columns: auto auto 1fr;
          gap: 8px;

          .settings {
            justify-self: flex-end;
          }
        }

        .settings {
          width: 2rem;
          aspect-ratio: 1;
          border-radius: 8px;
          &:hover {
            background-color: var(--grey-100);
          }
        }
      }

      .title {
        color: var(--grey-800);
      }

      .description {
        color: var(--grey-600);
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      .creation-date {
        color: var(--grey-500);
        align-self: flex-end;
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .surveys {
    grid-template: auto / repeat(auto-fit, minmax(336px, 1fr));
  }

  .home-page {
    .my-surveys-header {
      grid-template: 1fr / 1fr repeat(3, auto);

      & > h2,
      .search-surveys-label {
        grid-column: span 1;
        margin: 0;
      }

      .search-surveys-label {
        max-width: 400px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-page {
    .my-surveys {
      .survey-card {
        max-width: 448px;
      }
    }
  }
}

