.home-page,
.my-forms,
.survey-card,
.card-header,
.search-surveys-label {
  display: flex;
}

.forms {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(calc(300px - 2rem), 1fr));
  gap: calc(var(--gap) * 0.75);
}

.home-page {
  --gap: 2rem;
  flex-direction: column;
  gap: var(--gap);

  & > h2 {
    font-size: clamp(20px, calc(3vw + 0.5rem), 30px);
  }

  .search-surveys-label {
    --padding: 10px;

    width: 100%;
    background-color: var(--white);
    padding: var(--padding) calc(var(--padding) * 1.2);
    gap: calc(var(--padding) * 0.8);

    border: 1px solid var(--grey-200);
    border-radius: 8px;
    color: var(--grey-500);

    & > input {
      width: 100%;
      background: none;
      border: none;
      font-family: "Red Hat Display";

      &:focus {
        outline: none;
      }
    }
  }

  .my-forms.forms {
    .survey-card {
      flex-direction: column;
      gap: calc(var(--gap) * 0.25);
      padding: calc(var(--gap) * 0.5);
      background-color: var(--white);
      border-radius: 8px;
      border: 1px solid var(--grey-200);
      text-decoration: none;

      .card-header {
        justify-content: space-between;
        color: var(--grey-700);

        button {
          background: none;
          border: none;
          padding: 0;
        }
      }

      .title {
        color: var(--grey-800);
      }

      .description {
        color: var(--grey-600);
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      .creation-date {
        color: var(--grey-500);
        align-self: flex-end;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .forms {
    grid-template: auto / repeat(auto-fit, minmax(344px, 1fr));
  }
}

