@use "../elements/shadows" as *;
@use "../elements/typography" as *;

.edit-profile {
  --b-rad: 12px;
  --padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) * 2);

  > h2 {
    @include title("xs");
  }

  .personal-infos,
  .change-password {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) * 1.5);
    width: 100%;
    padding: calc(var(--padding) * 2);
    margin: 0 auto;
    border-radius: var(--b-rad);

    background-color: var(--white);
    border: 1px solid var(--grey-200);
    @include shadow("xs");

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: calc(var(--padding) / 2);
    }

    .message {
      display: flex;
      gap: var(--padding);
      border-radius: 8px;
      padding: calc(var(--padding) / 2) var(--padding);
      &.warning {
        background-color: var(--warning-50);
        border: 1px solid var(--warning-200);
        color: var(--warning-700);
      }

      &.error {
        background-color: var(--error-50);
        border: 1px solid var(--error-200);
        color: var(--error-700);
      }

      &.info {
        background-color: var(--blue-50);
        border: 1px solid var(--blue-200);
        color: var(--blue-700);
      }
    }

    .password-validation {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: var(--padding);
      gap: calc(var(--padding) / 2);
      background-color: var(--error-50);
      border: 1px solid var(--error-200);
      color: var(--error-700);
      &.validation-complete {
        background-color: var(--success-50);
        border: 1px solid var(--success-200);
        color: var(--success-700);
      }
      > li {
        display: flex;
        gap: var(--padding);
        @include text("sm");

        &.valid {
          color: var(--success-700);
        }

        &.invalid {
          color: var(--error-700);
        }
      }
    }
  }
  .modal .buttons {
    display: flex;
    justify-content: flex-end;
    gap: calc(var(--padding) / 2);
  }
}

@media screen and (min-width: 768px) {
  .edit-profile {
    max-width: 50%;
    margin: 0 auto;
  }
}

