@use "../elements/shadows" as *;
.edit-profile {
  --b-rad: 12px;
  --padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: calc(var(--padding) * 2);

  .personal-infos,
  .change-password {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) * 1.5);
    width: 100%;
    padding: calc(var(--padding) * 2);
    margin: 0 auto;
    border-radius: var(--b-rad);

    background-color: var(--white);
    border: 1px solid var(--grey-200);
    @include shadow("xs");

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: calc(var(--padding) / 2);
    }
  }
}

