@use "../../elements/colors" as *;

.react-datepicker-wrapper {
  input[type="text"] {
    border-radius: 4px;
    border: 1px solid var(--grey-200);
    &:focus-visible {
      border: 1px solid var(--primary-400);
      outline: none;
    }
  }
}
