i.svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--primary {
    fill: var(--primary-700);
}

.icon--current {
    fill: currentColor;
}

.icon--success {
    fill: var(--success-700);
}

.icon--error {
    fill: var(--error-700);
}

.icon--warning {
    fill: var(--warning-700);
}
