@use "../../styles/elements/colors" as *;

i.svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon--current {
    fill: currentColor;
}

@each $color in $themeColors {
    .icon--#{$color} {
        fill: var(--#{$color}-700);
    }
}
